[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "==25.1.0"
build = "==1.2.2.post1"
certifi = "==2025.1.31"
charset-normalizer = "==3.4.1"
click = "==8.1.8"
codecov = "==2.1.13"
coverage = "==7.6.11"
distlib = "==0.3.9"
execnet = "==2.1.1"
filelock = "==3.17.0"
flake8 = "==7.1.1"
idna = "==3.10"
iniconfig = "==2.0.0"
mccabe = "==0.7.0"
mypy-extensions = "==1.0.0"
packaging = "==24.2"
paprika = "==1.3.0"
pathspec = "==0.12.1"
pipenv = "==2024.4.1"
platformdirs = "==4.3.6"
pluggy = "==1.5.0"
pycodestyle = "==2.12.1"
pyflakes = "==3.2.0"
pyproject-hooks = "==1.2.0"
pytest = "==8.3.4"
pytest-cov = "==6.0.0"
pytest-xdist = "==3.6.1"
requests = "==2.32.3"
tabulate = "==0.8.10"
urllib3 = "==2.3.0"
virtualenv = "==20.29.2"
yrs-commons = {file = "dist/yrs_commons-0.1.0-py3-none-any.whl"}

[dev-packages]

[requires]
python_version = "3.13"
